<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SlimKit{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script nonce="{{ csp_nonce }}">console.log('Secure nonce');</script>
    {% block scripts %}{% endblock %}
</body>
</html>
