{% extends 'layouts/base.twig' %}

{% block title %}Upload File{% endblock %}

{% block content %}
<h1>Upload</h1>
<form method="post" enctype="multipart/form-data">
    {{ csrf_field()|raw }}
    <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
{% endblock %}
